.logo{
    width: 120px;
    height: 30px;
    background: url('./logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 16px;
    float: left;
}
.site-layout .site-layout-background {
    background: #fff;
}
.ant-layout-header .ant-menu {
    line-height: 63px !important;
}

.ant-menu-horizontal {
    border: none !important;
}

.ant-layout-header {
    padding: 0 !important;
    background-color: #fff !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    position: fixed;
    z-index: 999;
    width: 100%
}

.ant-menu-light .ant-menu-item-selected, .ant-menu-light .ant-menu-active,.ant-menu-light .ant-menu-item:hover {
    color: #5530a1 !important;
    border-bottom: 2px solid #5530a1 !important;
}

#user .ant-avatar{
    cursor: pointer;
}

@media (min-width: 1200px){
    #header {
        width: 90% !important;
        margin: auto !important;
    }

    #user > span{
        width: 100% !important;
        text-align: right;
    }
}

@media (min-width: 1400px){
    #header {
        width: 80% !important;
        margin: auto !important;
    }

    #user > span{
        width: 100% !important;
        text-align: right;
    }
}


.card-actions, .ant-list-header>span {
    font-weight: 600;
    color: #fff;
    display: block;
}

.card-actions:hover {
    font-weight: 600;
    color: #eee;
}

.ant-card-actions {
    background-color: #4b8fe0 !important
}

.ant-list-items {
    max-height: 500px;
    overflow-y: auto;
}

.ant-drawer-body .ant-menu{
    margin-top: 50px;
    font-size: 18px;
}

#lastCourses .ant-row, #educators .ant-row, #home-page-courses .ant-row{
    justify-content: center;

}