.logo {
    width: 180px;
    height: 45px;
    background: url('./logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 16px;
    float: left;
}
.site-layout .site-layout-background {
    background: #fff;
}
.ant-layout-header .ant-menu {
    line-height: 63px !important;
}

.ant-menu-horizontal {
    border: none !important;
}

.ant-layout-header {
    padding: 0 !important;
    background-color: #fff !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    position: fixed;
    z-index: 999;
    width: 100%
}

.ant-menu-item-selected, .ant-menu-active, .ant-menu-item:hover {
    color: #5530a1 !important;
    border-bottom: 2px solid #5530a1 !important;
}

.login-col {
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 999;
    padding: 60px 20px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}
  
#login-row {
    background: url('./banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px){
    .login-col-before{
        height: 70px !important;
    }

    .login-col {
        height: calc(100% - 70px) !important;
    }

    #slogan {
        position: fixed !important;
        left: calc(100% - 180px) !important;
        top: 0 !important;
    }
}

#slogan {
    font-size: large;
    position: absolute;
    left: 0px;
    top: 60px;
    color: #5530a1;
    font-weight: 600;
    text-align: center;
    width: 180px;
    margin: 16px;
}